<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform" sequenceNumber="4">
  <locations>
	  <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2022-06"/>
    </location>

    <!-- We must use the SourceForge mirror as official GitHub site does not work with Tycho -->
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.python.pydev.feature.feature.group" version="0.0.0" />
      <repository location="https://github.com/fabioz/Pydev/releases/download/pydev_11_0_0" />
      <!-- <repository location="http://pydev.sourceforge.net/pydev_update_site/11.0.0" /> -->
    </location>
  </locations>
</target>