version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  groups:
    jdt:
      patterns:
        - "org.eclipse.jdt:*"
    p2:
      patterns:
        - "org.eclipse.platform:org.eclipse.equinox.p2.*"
  ignore:
    - dependency-name: "org.codehaus.plexus:plexus-archiver"
      versions: ["4.10.1", "4.10.2", "4.10.3"]
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  target-branch: "tycho-5.0.x"
  labels:
    - "backport"
    - "dependencies"
  groups:
    jdt:
      patterns:
        - "org.eclipse.jdt:*"
    p2:
      patterns:
        - "org.eclipse.platform:org.eclipse.equinox.p2.*"
  ignore:
    - dependency-name: "org.codehaus.plexus:plexus-archiver"
      versions: ["4.10.1", "4.10.2", "4.10.3"]
