[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	read = group ldap/technology.tycho
	forgeAuthor = group ldap/technology.tycho
	label-Code-Review = -2..+2 group ldap/technology.tycho
	label-IP-Clean = -1..+1 group ldap/technology.tycho
	label-Verified = -1..+1 group ldap/technology.tycho
	submit = group ldap/technology.tycho
	push = +force group ldap/technology.tycho
	create = group ldap/technology.tycho
	abandon = group ldap/technology.tycho
[access "refs/tags/*"]
	pushTag = +force group ldap/technology.tycho
	create = group ldap/technology.tycho
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
[project]
	state = active
