[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	read = group technology.tycho
	forgeAuthor = group technology.tycho
	label-Code-Review = -2..+2 group technology.tycho
	label-IP-Clean = -1..+1 group technology.tycho
	label-Verified = -1..+1 group technology.tycho
	submit = group technology.tycho
[access "refs/tags/*"]
	pushTag = group technology.tycho
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
