<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tycho-its-project.issue1052.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-06"/>
			<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.22.300.v20220503-1634"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.23.400.v20220516-2155"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="ignore" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.jaxrs</artifactId>
					<version>1.0.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>