<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tycho-its-project.issue1052.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-06"/>
			<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.22.300.v20220503-1634"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.23.400.v20220516-2155"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1700.v20220509-0833"/>
			<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.10.1000.v20220424-0922"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.24.0.v20220607-0700"/>
			<unit id="ch.qos.logback.classic" version="0.0.0"/>
			<unit id="ch.qos.logback.core" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="ignore" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.aries.jax.rs</groupId>
					<artifactId>org.apache.aries.jax.rs.whiteboard</artifactId>
					<version>1.0.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.servicemix.specs</groupId>
					<artifactId>org.apache.servicemix.specs.jaxws-api-2.2</artifactId>
					<version>2.9.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.servicemix.specs</groupId>
					<artifactId>org.apache.servicemix.specs.saaj-api-1.3</artifactId>
					<version>2.9.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.felix</groupId>
					<artifactId>org.apache.felix.http.jetty</artifactId>
					<version>4.1.14</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="ignore" type="Maven">
			<dependencies>
				<dependency>
					<groupId>jakarta.xml.bind</groupId>
					<artifactId>jakarta.xml.bind-api</artifactId>
					<version>2.3.3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>jakarta.annotation</groupId>
					<artifactId>jakarta.annotation-api</artifactId>
					<version>1.3.5</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.sun.activation</groupId>
					<artifactId>javax.activation</artifactId>
					<version>1.2.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>