<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Target platform for Tycho's bundles" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20120426-1529-7P7OFvNFLWUl7UmDUz0O8_a2"/>
<unit id="org.eclipse.sdk.ide" version="4.2.0.I20120503-1800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2milestones/"/>
</location>
</locations>
</target>
