<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008, 2011 Sonatype Inc. and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
     Sonatype Inc. - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.tycho.p2.maven.repository.LocalArtifactRepository"
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.eclipse.tycho.p2.maven.repository.LocalArtifactRepositoryFactory">
      </factory>
      <filter
            suffix=".meta/p2-artifacts.properties" />
   </extension>
   <extension
         id="org.eclipse.tycho.p2.maven.repository.ModuleArtifactRepository"
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.eclipse.tycho.p2.maven.repository.ModuleArtifactRepositoryFactory">
      </factory>
      <filter
            suffix="p2artifacts.xml">
      </filter>
   </extension>
   <extension
         id="org.eclipse.tycho.repository.registry.impl.ArtifactRepositoryBlackboard"
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.eclipse.tycho.repository.registry.impl.ArtifactRepositoryBlackboard">
      </factory>
      <filter
            suffix="@memory"/>
   </extension>
   <extension
         id="org.eclipse.tycho.p2.maven.repository.ModuleMetadataRepository"
         point="org.eclipse.equinox.p2.metadata.repository.metadataRepositories">
      <factory
            class="org.eclipse.tycho.p2.maven.repository.ModuleMetadataRepositoryFactory">
      </factory>
      <filter
            suffix="p2content.xml">
      </filter>
   </extension>

</plugin>
