<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="tycho.demo.itp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="tycho.demo.itp.Perspective"
            id="tycho.demo.itp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="tycho.demo.itp.application"
            name="Tycho Implicit Build Target Platform Demo">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="tycho.demo.itp01.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="tycho.demo.itp01.actions.SampleAction"
               icon="icons/sample.gif"
               id="tycho.demo.itp01.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
