<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<target name="temp">
    	
    <locations>
        		
        <location path="${project_loc:iuWithoutPayload}/../../src/test/resources/eclipse" type="Directory"/>
        	
    </locations>
    
</target>
