<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
      		name="Tycho Demo App"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/tycho.demo.app/css/default.css">
         </property>
         <property
               name="appName"
               value="Tycho Demo App">
         </property>
      </product>
   </extension>

</plugin>
