<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Maven" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.25/R-4.25-202208311800"/>
			<unit id="org.apache.batik.css" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.opentest4j</groupId>
					<artifactId>opentest4j</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.opentest4j</groupId>
					<artifactId>opentest4j</artifactId>
					<version>1.2.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>