<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="e352">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner"
      type="InstallableUnit">
      <unit id='org.eclipse.osgi' version='0.0.0' />
      <repository id="e352" location="[WILL BE REPLACED BY TEST]" />
    </location>
  </locations>
</target>
