<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="mavenDep.targe">
	<locations>
		<location includeDependencyDepth="none" includeDependencyScope="compile" includeSource="false" missingManifest="ignore" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-logging</groupId>
					<artifactId>commons-logging</artifactId>
					<version>1.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>