<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="location tag not closed">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit">
</locations>
</target>
