<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2022-03/"/>
</location>
	<location path="${project_loc}/target" type="Directory"/>
</locations>
	<includeBundles>
		<plugin id="org.easymock"/>
		<plugin id="org.eclipse.ant.core"/>
		<plugin id="org.eclipse.ant.core.source"/>
		<plugin id="org.eclipse.ant.launching"/>
		<plugin id="org.eclipse.ant.launching.source"/>
		<plugin id="org.eclipse.ant.ui"/>
		<plugin id="org.eclipse.ant.ui.source"/>
		<plugin id="org.eclipse.compare"/>
		<plugin id="org.eclipse.compare.core"/>
		<plugin id="org.eclipse.compare.core.source"/>
		<plugin id="org.eclipse.compare.source"/>
		<plugin id="org.eclipse.compare.win32"/>
		<plugin id="org.eclipse.compare.win32.source"/>
		<plugin id="org.eclipse.core.commands"/>
		<plugin id="org.eclipse.core.commands.source"/>
		<plugin id="org.eclipse.core.contenttype"/>
		<plugin id="org.eclipse.core.contenttype.source"/>
		<plugin id="org.eclipse.core.databinding"/>
		<plugin id="org.eclipse.core.databinding.beans"/>
		<plugin id="org.eclipse.core.databinding.beans.source"/>
		<plugin id="org.eclipse.core.databinding.observable"/>
		<plugin id="org.eclipse.core.databinding.observable.source"/>
		<plugin id="org.eclipse.core.databinding.property"/>
		<plugin id="org.eclipse.core.databinding.property.source"/>
		<plugin id="org.eclipse.core.databinding.source"/>
		<plugin id="org.eclipse.core.expressions"/>
		<plugin id="org.eclipse.core.expressions.source"/>
		<plugin id="org.eclipse.core.externaltools"/>
		<plugin id="org.eclipse.core.externaltools.source"/>
		<plugin id="org.eclipse.core.filebuffers"/>
		<plugin id="org.eclipse.core.filebuffers.source"/>
		<plugin id="org.eclipse.core.filesystem"/>
		<plugin id="org.eclipse.core.filesystem.source"/>
		<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
		<plugin id="org.eclipse.core.jobs"/>
		<plugin id="org.eclipse.core.jobs.source"/>
		<plugin id="org.eclipse.core.net"/>
		<plugin id="org.eclipse.core.net.source"/>
		<plugin id="org.eclipse.core.net.win32.x86_64"/>
		<plugin id="org.eclipse.core.net.win32.x86_64.source"/>
		<plugin id="org.eclipse.core.resources"/>
		<plugin id="org.eclipse.core.resources.source"/>
		<plugin id="org.eclipse.core.resources.win32.x86_64"/>
		<plugin id="org.eclipse.core.runtime"/>
		<plugin id="org.eclipse.core.runtime.source"/>
		<plugin id="org.eclipse.core.variables"/>
		<plugin id="org.eclipse.core.variables.source"/>
		<plugin id="org.eclipse.debug.core"/>
		<plugin id="org.eclipse.debug.core.source"/>
		<plugin id="org.eclipse.debug.ui"/>
		<plugin id="org.eclipse.debug.ui.launchview"/>
		<plugin id="org.eclipse.debug.ui.launchview.source"/>
		<plugin id="org.eclipse.debug.ui.source"/>
		<plugin id="org.eclipse.e4.core.commands"/>
		<plugin id="org.eclipse.e4.core.commands.source"/>
		<plugin id="org.eclipse.e4.core.contexts"/>
		<plugin id="org.eclipse.e4.core.contexts.source"/>
		<plugin id="org.eclipse.e4.core.di"/>
		<plugin id="org.eclipse.e4.core.di.annotations"/>
		<plugin id="org.eclipse.e4.core.di.annotations.source"/>
		<plugin id="org.eclipse.e4.core.di.extensions"/>
		<plugin id="org.eclipse.e4.core.di.extensions.source"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier.source"/>
		<plugin id="org.eclipse.e4.core.di.source"/>
		<plugin id="org.eclipse.e4.core.services"/>
		<plugin id="org.eclipse.e4.core.services.source"/>
		<plugin id="org.eclipse.e4.emf.xpath"/>
		<plugin id="org.eclipse.e4.emf.xpath.source"/>
		<plugin id="org.eclipse.e4.tools.emf.ui"/>
		<plugin id="org.eclipse.e4.tools.emf.ui.source"/>
		<plugin id="org.eclipse.e4.tools.services"/>
		<plugin id="org.eclipse.e4.tools.services.source"/>
		<plugin id="org.eclipse.e4.ui.bindings"/>
		<plugin id="org.eclipse.e4.ui.bindings.source"/>
		<plugin id="org.eclipse.e4.ui.css.core"/>
		<plugin id="org.eclipse.e4.ui.css.core.source"/>
		<plugin id="org.eclipse.e4.ui.css.swt"/>
		<plugin id="org.eclipse.e4.ui.css.swt.source"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme.source"/>
		<plugin id="org.eclipse.e4.ui.di"/>
		<plugin id="org.eclipse.e4.ui.di.source"/>
		<plugin id="org.eclipse.e4.ui.dialogs"/>
		<plugin id="org.eclipse.e4.ui.dialogs.source"/>
		<plugin id="org.eclipse.e4.ui.ide"/>
		<plugin id="org.eclipse.e4.ui.ide.source"/>
		<plugin id="org.eclipse.e4.ui.model.workbench"/>
		<plugin id="org.eclipse.e4.ui.model.workbench.source"/>
		<plugin id="org.eclipse.e4.ui.services"/>
		<plugin id="org.eclipse.e4.ui.services.source"/>
		<plugin id="org.eclipse.e4.ui.swt.win32"/>
		<plugin id="org.eclipse.e4.ui.swt.win32.source"/>
		<plugin id="org.eclipse.e4.ui.widgets"/>
		<plugin id="org.eclipse.e4.ui.widgets.source"/>
		<plugin id="org.eclipse.e4.ui.workbench"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench3"/>
		<plugin id="org.eclipse.e4.ui.workbench3.source"/>
		<plugin id="org.eclipse.ecf"/>
		<plugin id="org.eclipse.ecf.filetransfer"/>
		<plugin id="org.eclipse.ecf.filetransfer.source"/>
		<plugin id="org.eclipse.ecf.identity"/>
		<plugin id="org.eclipse.ecf.identity.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
		<plugin id="org.eclipse.ecf.source"/>
		<plugin id="org.eclipse.ecf.ssl"/>
		<plugin id="org.eclipse.ecf.ssl.source"/>
		<plugin id="org.eclipse.emf.common"/>
		<plugin id="org.eclipse.emf.common.source"/>
		<plugin id="org.eclipse.emf.databinding"/>
		<plugin id="org.eclipse.emf.databinding.edit"/>
		<plugin id="org.eclipse.emf.databinding.edit.source"/>
		<plugin id="org.eclipse.emf.databinding.source"/>
		<plugin id="org.eclipse.emf.ecore"/>
		<plugin id="org.eclipse.emf.ecore.change"/>
		<plugin id="org.eclipse.emf.ecore.change.source"/>
		<plugin id="org.eclipse.emf.ecore.source"/>
		<plugin id="org.eclipse.emf.ecore.xmi"/>
		<plugin id="org.eclipse.emf.ecore.xmi.source"/>
		<plugin id="org.eclipse.emf.edit"/>
		<plugin id="org.eclipse.emf.edit.source"/>
		<plugin id="org.eclipse.equinox.app"/>
		<plugin id="org.eclipse.equinox.app.source"/>
		<plugin id="org.eclipse.equinox.bidi"/>
		<plugin id="org.eclipse.equinox.bidi.source"/>
		<plugin id="org.eclipse.equinox.common"/>
		<plugin id="org.eclipse.equinox.common.source"/>
		<plugin id="org.eclipse.equinox.concurrent"/>
		<plugin id="org.eclipse.equinox.concurrent.source"/>
		<plugin id="org.eclipse.equinox.console"/>
		<plugin id="org.eclipse.equinox.console.source"/>
		<plugin id="org.eclipse.equinox.event"/>
		<plugin id="org.eclipse.equinox.event.source"/>
		<plugin id="org.eclipse.equinox.frameworkadmin"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
		<plugin id="org.eclipse.equinox.http.jetty"/>
		<plugin id="org.eclipse.equinox.http.jetty.source"/>
		<plugin id="org.eclipse.equinox.http.registry"/>
		<plugin id="org.eclipse.equinox.http.registry.source"/>
		<plugin id="org.eclipse.equinox.http.servlet"/>
		<plugin id="org.eclipse.equinox.http.servlet.source"/>
		<plugin id="org.eclipse.equinox.jsp.jasper"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
		<plugin id="org.eclipse.equinox.launcher"/>
		<plugin id="org.eclipse.equinox.launcher.source"/>
		<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.console"/>
		<plugin id="org.eclipse.equinox.p2.console.source"/>
		<plugin id="org.eclipse.equinox.p2.core"/>
		<plugin id="org.eclipse.equinox.p2.core.source"/>
		<plugin id="org.eclipse.equinox.p2.director"/>
		<plugin id="org.eclipse.equinox.p2.director.app"/>
		<plugin id="org.eclipse.equinox.p2.director.app.source"/>
		<plugin id="org.eclipse.equinox.p2.director.source"/>
		<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
		<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
		<plugin id="org.eclipse.equinox.p2.engine"/>
		<plugin id="org.eclipse.equinox.p2.engine.source"/>
		<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
		<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
		<plugin id="org.eclipse.equinox.p2.metadata"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.metadata.source"/>
		<plugin id="org.eclipse.equinox.p2.operations"/>
		<plugin id="org.eclipse.equinox.p2.operations.source"/>
		<plugin id="org.eclipse.equinox.p2.publisher"/>
		<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
		<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
		<plugin id="org.eclipse.equinox.p2.publisher.source"/>
		<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
		<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
		<plugin id="org.eclipse.equinox.p2.repository"/>
		<plugin id="org.eclipse.equinox.p2.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.repository.tools"/>
		<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
		<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
		<plugin id="org.eclipse.equinox.p2.transport.ecf.source"/>
		<plugin id="org.eclipse.equinox.p2.ui"/>
		<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
		<plugin id="org.eclipse.equinox.p2.ui.importexport.source"/>
		<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
		<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
		<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
		<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
		<plugin id="org.eclipse.equinox.p2.ui.source"/>
		<plugin id="org.eclipse.equinox.p2.updatechecker"/>
		<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
		<plugin id="org.eclipse.equinox.p2.updatesite"/>
		<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
		<plugin id="org.eclipse.equinox.preferences"/>
		<plugin id="org.eclipse.equinox.preferences.source"/>
		<plugin id="org.eclipse.equinox.registry"/>
		<plugin id="org.eclipse.equinox.registry.source"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.equinox.security.source"/>
		<plugin id="org.eclipse.equinox.security.ui"/>
		<plugin id="org.eclipse.equinox.security.ui.source"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64.source"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
		<plugin id="org.eclipse.help"/>
		<plugin id="org.eclipse.help.base"/>
		<plugin id="org.eclipse.help.base.source"/>
		<plugin id="org.eclipse.help.source"/>
		<plugin id="org.eclipse.help.ui"/>
		<plugin id="org.eclipse.help.ui.source"/>
		<plugin id="org.eclipse.help.webapp"/>
		<plugin id="org.eclipse.help.webapp.source"/>
		<plugin id="org.eclipse.jdt"/>
		<plugin id="org.eclipse.jdt.annotation" version="2.2.600.v20200408-1511"/>
		<plugin id="org.eclipse.jdt.annotation" version="1.2.0.v20210519-0438"/>
		<plugin id="org.eclipse.jdt.annotation.source" version="2.2.600.v20200408-1511"/>
		<plugin id="org.eclipse.jdt.annotation.source" version="1.2.0.v20210519-0438"/>
		<plugin id="org.eclipse.jdt.apt.core"/>
		<plugin id="org.eclipse.jdt.apt.core.source"/>
		<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
		<plugin id="org.eclipse.jdt.apt.pluggable.core.source"/>
		<plugin id="org.eclipse.jdt.apt.ui"/>
		<plugin id="org.eclipse.jdt.apt.ui.source"/>
		<plugin id="org.eclipse.jdt.compiler.apt"/>
		<plugin id="org.eclipse.jdt.compiler.apt.source"/>
		<plugin id="org.eclipse.jdt.compiler.tool"/>
		<plugin id="org.eclipse.jdt.compiler.tool.source"/>
		<plugin id="org.eclipse.jdt.core"/>
		<plugin id="org.eclipse.jdt.core.formatterapp"/>
		<plugin id="org.eclipse.jdt.core.formatterapp.source"/>
		<plugin id="org.eclipse.jdt.core.manipulation"/>
		<plugin id="org.eclipse.jdt.core.manipulation.source"/>
		<plugin id="org.eclipse.jdt.core.source"/>
		<plugin id="org.eclipse.jdt.debug"/>
		<plugin id="org.eclipse.jdt.debug.source"/>
		<plugin id="org.eclipse.jdt.debug.ui"/>
		<plugin id="org.eclipse.jdt.debug.ui.source"/>
		<plugin id="org.eclipse.jdt.doc.isv"/>
		<plugin id="org.eclipse.jdt.doc.user"/>
		<plugin id="org.eclipse.jdt.junit"/>
		<plugin id="org.eclipse.jdt.junit.core"/>
		<plugin id="org.eclipse.jdt.junit.core.source"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.jdt.junit.runtime.source"/>
		<plugin id="org.eclipse.jdt.junit.source"/>
		<plugin id="org.eclipse.jdt.junit4.runtime"/>
		<plugin id="org.eclipse.jdt.junit4.runtime.source"/>
		<plugin id="org.eclipse.jdt.junit5.runtime"/>
		<plugin id="org.eclipse.jdt.junit5.runtime.source"/>
		<plugin id="org.eclipse.jdt.launching"/>
		<plugin id="org.eclipse.jdt.launching.source"/>
		<plugin id="org.eclipse.jdt.ui"/>
		<plugin id="org.eclipse.jdt.ui.source"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.http.source"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.io.source"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.security.source"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.server.source"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.servlet.source"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.ajax"/>
		<plugin id="org.eclipse.jetty.util.ajax.source"/>
		<plugin id="org.eclipse.jetty.util.source"/>
		<plugin id="org.eclipse.jface"/>
		<plugin id="org.eclipse.jface.databinding"/>
		<plugin id="org.eclipse.jface.databinding.source"/>
		<plugin id="org.eclipse.jface.notifications"/>
		<plugin id="org.eclipse.jface.notifications.source"/>
		<plugin id="org.eclipse.jface.source"/>
		<plugin id="org.eclipse.jface.text"/>
		<plugin id="org.eclipse.jface.text.source"/>
		<plugin id="org.eclipse.jsch.core"/>
		<plugin id="org.eclipse.jsch.core.source"/>
		<plugin id="org.eclipse.jsch.ui"/>
		<plugin id="org.eclipse.jsch.ui.source"/>
		<plugin id="org.eclipse.ltk.core.refactoring"/>
		<plugin id="org.eclipse.ltk.core.refactoring.source"/>
		<plugin id="org.eclipse.ltk.ui.refactoring"/>
		<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.compatibility.state"/>
		<plugin id="org.eclipse.osgi.compatibility.state.source"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.services.source"/>
		<plugin id="org.eclipse.osgi.source"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.osgi.util.source"/>
		<plugin id="org.eclipse.pde"/>
		<plugin id="org.eclipse.pde.api.tools"/>
		<plugin id="org.eclipse.pde.api.tools.annotations"/>
		<plugin id="org.eclipse.pde.api.tools.annotations.source"/>
		<plugin id="org.eclipse.pde.api.tools.source"/>
		<plugin id="org.eclipse.pde.api.tools.ui"/>
		<plugin id="org.eclipse.pde.api.tools.ui.source"/>
		<plugin id="org.eclipse.pde.build"/>
		<plugin id="org.eclipse.pde.build.source"/>
		<plugin id="org.eclipse.pde.core"/>
		<plugin id="org.eclipse.pde.core.source"/>
		<plugin id="org.eclipse.pde.doc.user"/>
		<plugin id="org.eclipse.pde.ds.annotations"/>
		<plugin id="org.eclipse.pde.ds.annotations.source"/>
		<plugin id="org.eclipse.pde.ds.core"/>
		<plugin id="org.eclipse.pde.ds.core.source"/>
		<plugin id="org.eclipse.pde.ds.lib"/>
		<plugin id="org.eclipse.pde.ds.lib.source"/>
		<plugin id="org.eclipse.pde.ds.ui"/>
		<plugin id="org.eclipse.pde.ds.ui.source"/>
		<plugin id="org.eclipse.pde.ds1_2.lib"/>
		<plugin id="org.eclipse.pde.ds1_2.lib.source"/>
		<plugin id="org.eclipse.pde.genericeditor.extension"/>
		<plugin id="org.eclipse.pde.genericeditor.extension.source"/>
		<plugin id="org.eclipse.pde.junit.runtime"/>
		<plugin id="org.eclipse.pde.junit.runtime.source"/>
		<plugin id="org.eclipse.pde.launching"/>
		<plugin id="org.eclipse.pde.launching.source"/>
		<plugin id="org.eclipse.pde.runtime"/>
		<plugin id="org.eclipse.pde.runtime.source"/>
		<plugin id="org.eclipse.pde.spy.bundle"/>
		<plugin id="org.eclipse.pde.spy.bundle.source"/>
		<plugin id="org.eclipse.pde.spy.context"/>
		<plugin id="org.eclipse.pde.spy.context.source"/>
		<plugin id="org.eclipse.pde.spy.core"/>
		<plugin id="org.eclipse.pde.spy.core.source"/>
		<plugin id="org.eclipse.pde.spy.css"/>
		<plugin id="org.eclipse.pde.spy.css.source"/>
		<plugin id="org.eclipse.pde.spy.model"/>
		<plugin id="org.eclipse.pde.spy.model.source"/>
		<plugin id="org.eclipse.pde.spy.preferences"/>
		<plugin id="org.eclipse.pde.spy.preferences.source"/>
		<plugin id="org.eclipse.pde.ua.core"/>
		<plugin id="org.eclipse.pde.ua.core.source"/>
		<plugin id="org.eclipse.pde.ua.ui"/>
		<plugin id="org.eclipse.pde.ua.ui.source"/>
		<plugin id="org.eclipse.pde.ui"/>
		<plugin id="org.eclipse.pde.ui.source"/>
		<plugin id="org.eclipse.pde.ui.templates"/>
		<plugin id="org.eclipse.pde.ui.templates.source"/>
		<plugin id="org.eclipse.platform"/>
		<plugin id="org.eclipse.platform.doc.isv"/>
		<plugin id="org.eclipse.platform.doc.user"/>
		<plugin id="org.eclipse.platform.source"/>
		<plugin id="org.eclipse.rcp"/>
		<plugin id="org.eclipse.sdk"/>
		<plugin id="org.eclipse.search"/>
		<plugin id="org.eclipse.search.source"/>
		<plugin id="org.eclipse.swt"/>
		<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
		<plugin id="org.eclipse.swt.win32.win32.x86_64.source"/>
		<plugin id="org.eclipse.team.core"/>
		<plugin id="org.eclipse.team.core.source"/>
		<plugin id="org.eclipse.team.genericeditor.diff.extension"/>
		<plugin id="org.eclipse.team.genericeditor.diff.extension.source"/>
		<plugin id="org.eclipse.team.ui"/>
		<plugin id="org.eclipse.team.ui.source"/>
		<plugin id="org.eclipse.text"/>
		<plugin id="org.eclipse.text.quicksearch"/>
		<plugin id="org.eclipse.text.quicksearch.source"/>
		<plugin id="org.eclipse.text.source"/>
		<plugin id="org.eclipse.tools.layout.spy"/>
		<plugin id="org.eclipse.tools.layout.spy.source"/>
		<plugin id="org.eclipse.ui"/>
		<plugin id="org.eclipse.ui.browser"/>
		<plugin id="org.eclipse.ui.browser.source"/>
		<plugin id="org.eclipse.ui.cheatsheets"/>
		<plugin id="org.eclipse.ui.cheatsheets.source"/>
		<plugin id="org.eclipse.ui.console"/>
		<plugin id="org.eclipse.ui.console.source"/>
		<plugin id="org.eclipse.ui.editors"/>
		<plugin id="org.eclipse.ui.editors.source"/>
		<plugin id="org.eclipse.ui.externaltools"/>
		<plugin id="org.eclipse.ui.externaltools.source"/>
		<plugin id="org.eclipse.ui.forms"/>
		<plugin id="org.eclipse.ui.forms.source"/>
		<plugin id="org.eclipse.ui.genericeditor"/>
		<plugin id="org.eclipse.ui.genericeditor.source"/>
		<plugin id="org.eclipse.ui.ide"/>
		<plugin id="org.eclipse.ui.ide.application"/>
		<plugin id="org.eclipse.ui.ide.application.source"/>
		<plugin id="org.eclipse.ui.ide.source"/>
		<plugin id="org.eclipse.ui.intro"/>
		<plugin id="org.eclipse.ui.intro.quicklinks"/>
		<plugin id="org.eclipse.ui.intro.quicklinks.source"/>
		<plugin id="org.eclipse.ui.intro.source"/>
		<plugin id="org.eclipse.ui.intro.universal"/>
		<plugin id="org.eclipse.ui.intro.universal.source"/>
		<plugin id="org.eclipse.ui.monitoring"/>
		<plugin id="org.eclipse.ui.monitoring.source"/>
		<plugin id="org.eclipse.ui.navigator"/>
		<plugin id="org.eclipse.ui.navigator.resources"/>
		<plugin id="org.eclipse.ui.navigator.resources.source"/>
		<plugin id="org.eclipse.ui.navigator.source"/>
		<plugin id="org.eclipse.ui.net"/>
		<plugin id="org.eclipse.ui.net.source"/>
		<plugin id="org.eclipse.ui.source"/>
		<plugin id="org.eclipse.ui.themes"/>
		<plugin id="org.eclipse.ui.themes.source"/>
		<plugin id="org.eclipse.ui.trace"/>
		<plugin id="org.eclipse.ui.trace.source"/>
		<plugin id="org.eclipse.ui.views"/>
		<plugin id="org.eclipse.ui.views.log"/>
		<plugin id="org.eclipse.ui.views.log.source"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
		<plugin id="org.eclipse.ui.views.source"/>
		<plugin id="org.eclipse.ui.win32"/>
		<plugin id="org.eclipse.ui.win32.source"/>
		<plugin id="org.eclipse.ui.workbench"/>
		<plugin id="org.eclipse.ui.workbench.source"/>
		<plugin id="org.eclipse.ui.workbench.texteditor"/>
		<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
		<plugin id="org.eclipse.update.configurator"/>
		<plugin id="org.eclipse.update.configurator.source"/>
		<plugin id="org.eclipse.urischeme"/>
		<plugin id="org.eclipse.urischeme.source"/>
	</includeBundles>
</target>