# This workflow will check for Maven projects if the licenses of all (transitive) dependencies are vetted.

name: License vetting status check

on:
  push:
    branches: 
      - 'main'
      - 'tycho-*'
  pull_request:
    branches: 
     - 'main'
     - 'tycho-*'
  issue_comment:
    types: [created]

jobs:
  call-license-check:
    permissions:
      pull-requests: write
    uses: eclipse-dash/dash-licenses/.github/workflows/mavenLicenseCheck.yml@master
    with:
      projectId: technology.tycho
    secrets:
      gitlabAPIToken: ${{ secrets.TYCHO_GITLAB_API_TOKEN }}
