# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Tycho
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
on:
  push:
    branches: 
      - 'master'
      - 'tycho-*'
  pull_request:
    branches: 
     - 'master'
     - 'tycho-*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: |
            8
            11
            19
            17
        distribution: 'temurin'
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-tycho4m39-${{ matrix.os }}-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-tycho4m39-${{ matrix.os }}-
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: 3.9.0
    - name: Build Tycho
      env:
       JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}
      run: | 
        cp .github/toolchains.xml ~/.m2/toolchains.xml
        mvn -U -V -e -B -ntp clean install --file pom.xml -DtrimStackTrace=false -DskipTests -fae
        mvn -U -V -e -B -ntp clean install --file tycho-its/pom.xml -DtrimStackTrace=false -Pits -Dtest=org.eclipse.tycho.test.product.ProductTypesTest
    - name: Upload Test Results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: test-results-${{ matrix.os }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/tycho-its/target/surefire-reports/*.xml
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: Event File
        path: ${{ github.event_path }}
