# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Tycho

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build Tycho
      run: | 
        cp toolchains-gh.xml ~/.m2/toolchains.xml
        mvn -U -V -e clean install --file pom.xml
    - name: Run Integration Tests
      run: mvn -U -V -e -Pits clean install --file tycho-its/pom.xml 
# TODO add -Dmaven.test.failure.ignore=true if we have configured the Publish Integration Test Results below
# this currently will require additional setup see:
# https://github.com/marketplace/actions/publish-unit-test-results#support-fork-repositories-and-dependabot-branches
#    - name: Publish Integration Test Results
#      uses: EnricoMi/publish-unit-test-result-action@v1
#      with:
#        files: |
#          'tycho-its/target/surefire-reports/*.xml'
          

