# This workflow will build a "Eclipse Platform Individual Bundles" using the eclipse.platform repository as it contains the largest set of inter-related bundles
# For more information see: https://github.com/eclipse-platform/eclipse.platform

name: Verify Eclipse Platform Individual Bundles Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
on:
  pull_request:
    branches: 
     - 'main'

jobs:
  build-individual-bundles:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout tycho code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
       path: 'tycho'
    - name: Checkout platform code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
       path: 'platform'
       submodules: 'recursive'
       lfs: true
       repository: 'eclipse-platform/eclipse.platform'
       fetch-depth: 0
    - name: Set up Java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: |
            11
            17
            21
        distribution: 'temurin'
    - name: Cache local Maven repository
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-verify-platform-individual-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-maven-verify-platform-individual-
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.12
    - name: Build Tycho
      env:
       JAVA_HOME: ${{ env.JAVA_HOME_21_X64 }}
      working-directory: 'tycho'
      run: >- 
        mvn -U -V -e -B -ntp
        -DskipTests
        --file pom.xml
        -T1C
        clean install
    - name: Run Platform Build
      env:
       JAVA_HOME: ${{ env.JAVA_HOME_21_X64 }}
      working-directory: 'platform'
      run: >- 
        xvfb-run mvn
        --batch-mode
        -Pbuild-individual-bundles
        -Pbree-libs
        -Dmaven.test.failure.ignore=true
        -Dtycho.version=$(mvn help:evaluate -f ${{ github.workspace }}/tycho -Dexpression=project.version -q -DforceStdout)
        -T1C
        clean verify
