<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="platform">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
      <unit id="offlinemode.xzrepo.featurefromrepo.feature.group" version="1.0.0.201511062103"/>
      <repository id="test" location="[url]" />
    </location>
  </locations>
</target>
